ROBOT false positive

guide.duo.com is a domain hosted on google app engine, which is probably run by boringssl in the background.

The robot check by sslyze reports this as vulnerable, but it's almost certainly a false positive. The original robot-detect script can't test this host, as it requires SNI and we didn't implement SNI.

The same host has been falsely detected by ssllabs and they fixed it in their dev version:
#549

/CC @kelbyludwig

Hi and thanks for the notification!

When running the script, we get different TLS alerts back depending on the ROBOT payload that was sent (ordered he same as the payload in the ROBOT poc script):
```
TLS Alert 20 2
TLS Alert 50 2
TLS Alert 20 2
TLS Alert 20 2
TLS Alert 20 2
```
This is what causes SSLyze to return the server as vulnerable. 

I think this also follows the "intent" of initial poc test script, which is to detect if the responses are different. 
What is the fix here? Should one of the responses be a non-TLS alert for the server to be vulnerable? Or should there be more than 2 different kinds of answers (two different alerts + another type of response)?

Thanks!


In case of sslyze, Client key exchange looks malformed when it receives TLS Alert 50 (Decode error) for guide.duo.com. Encrypted PMS size should be the exact size of modulus_bytes (server public key).

Thanks @bhushan5640 for the insight!

That fix doesn't look right. It's just re-rolling the dice. A different RSA key will hit the problem with the new input. Rather, the bug is in this function and `int_to_bytes`:
https://github.com/nabla-c0d3/tls_parser/blob/master/tls_parser/handshake_protocol.py#L91

When you serialize your RSA ciphertext, it must have the same length as the modulus, zero-padded as necessary. (A production RSA implementation would get that padding for free by way of using fixed-width integers throughout, rather than explicitly zero-padding.)

PS: As for the "Not sure what this is?" comment in that file, that's the length of the ciphertext, which that file is currently incorrectly hardcoding at 256 bytes or 2048 bits. That would give the wrong answer for, say, a 3072-bit RSA key. Instead, you need to take the length and encode it as a big-endian 16-bit number. See [RFC 5246, section 4.7](https://tools.ietf.org/html/rfc5246#section-4.7):

>    In public key encryption, a public key algorithm is used to encrypt
>   data in such a way that it can be decrypted only with the matching
>   private key.  A public-key-encrypted element is encoded as an opaque
>   vector <0..2^16-1>, where the length is specified by the encryption
>   algorithm and key.

(That <0..2^16-1> means there is a 16-bit length prefix.)

As you saw, I was hoping for a quick fix but there's more to this issue. Thanks for the details, it will be very helpful.

Should be fixed by https://github.com/nabla-c0d3/tls_parser/commit/dc32fdb03ff9dcb7fd6f819d6fdc2d014e5e4915